body {
	font-family: Garamond, serif;
	background: #0E2C40;
	color: #EFBC75;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;}
a, h1, h2, h3{
	font-family: Garamond, serif;
	text-align: center;}
p, h3, ol, li {
	font-family: Garamond, serif;
	color: #C1E1A7;}
