body {
	font-family: Garamond, serif;
	background: #f8e9d7;
	color: black;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;}
a, h1, h3{
	text-align: center;}
p, h2, ol, li {
	text-align: left;}
a:link, a:visited:, a:hover, a:active {
	color: #2C560F;}
