body {
	font-family: Garamond, serif;
	background: #f8e9d7;
	color: black;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;}
a, h1, h2, h3{
	text-align: center;}
p, h3, ol, li {
	color: black;}
